<!doctype html>
<html>
  <head>
    <title>Game app</title>
    <link rel="stylesheet" href="css/bootstrap.css" />
  </head>
  <body>
    <div class="jumbotron text-center" >
      <div>
        <h1>Cow Bull Game</h1><br><br>
        <h3 class="text-success">Thanks for Playing</h3>
        <h4 class="text-info">The {{digit}} digit number is found</h4>
        <h5 class="text-info">The Number of chances taken are {{len}}</h5>
      </div><br>
      <ul>
          {{list}}
      </ul>
      <h4><a href="/">Play_Again</a></h4>
    </div>
  </body>
</html>
