<!doctype html>
<html>
  <head>
    <title>Game app</title>
  </head>
  <body>
    <h1>Guess the {{digit}} digit number</h1>
    <form action="/exec" method="post">
      <label>Number: </label>
      <input id=number type="number" name="number">  <br />
      <input id=submit type="submit" name= "form" value="Submit" />
    </form>
    <h3>{{text}}</h3>
    <div>
      <ul>{{list}}</ul>
    </div>
  </body>
</html>
