<!doctype html>
<html>
<body>
  <div>
    <h1>Rules</h1>
      <p>This is Cow Bull game:
      <br/>
      enter the number in the range 1 - 10
    </p>
    <h3><a href="/">close</a></h3>
</div>
</body>
</html>
