<!doctype html>
<html>
  <head>
    <title>Game app</title>
  </head>
  <body>
    <h1>Hello {{name}}</h1>
    <p>enter the number in the range 1 - 10</p>
    <form action="/game" method="post">
      <label>No. of digits: </label>
      <input id=number type="number" name="nd">  <br />
      <input id=submit type="submit" name= "form" value="Submit" />
    </form>
    <p>{{text}}</p>
  </body>
</html>
