<!doctype html>
<html>
  <head>
    <title>Game app</title>
    <link rel="stylesheet" href="css/bootstrap.css" />
  </head>
  <body>
    <div class="jumbotron text-center" >
      <div>
        <h1>Cow Bull Game</h1><br>
        <h3 class="text-success">Hello {{name}}</h3><br>
        <p>enter the number in the range 1 - 10</p>
        <form action="/game" method="post">
          <label>No. of digits: </label>
          <input id=number type="number" name="nd">  <br />
          <input id=submit type="submit" name= "form" value="Submit" />
        </form>
      </div> <br>
      <h5 class="text-info">{{text}}</h5>
    </div>
  </body>
</html>
