<!doctype html>
<html>
  <head>
    <title>Game app</title>
    <link rel="stylesheet" href="css/bootstrap.css" />
  </head>
  <body>
    <h1>Cow Bull Game</h1>
    <form action="/user" method="post">
        <label>Enter your name: </label>
        <input id=name type="text" placeholder="Name" name="name"> <br>
        <input id=submit type="submit" name= "form" value="Done" />
    </form>
    <h3><a href="/rules">Rules</a></h3>
    <p>{{text}}</p>
  </body>
</html>
