<!doctype html>
<html>
  <head>
    <title>Game app</title>
    <link rel="stylesheet" href="css/bootstrap.css" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <!-- <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Home</a></li>
        <li><a href="#tab2" data-toggle="tab">About</a></li>
        <li><a href="#tab3" data-toggle="tab">Rules</a></li>
      </ul>
      <div class="tab-content active">
        <div class="tab-pane active" id="tab1">
          <p>I'm in Home.</p>
        </div>
        <div class="tab-pane " id="tab2">
          <p>I'm in About.</p>
        </div>
        <div class="tab-pane " id="tab3">
          <p>I'm in Rules.</p>
        </div>
      </div>
    </div> -->

    <div class="jumbotron text-center" >
      <div>
        <h1>Cow Bull Game</h1><br><br>
        <h5><a href="/rules">Rules</a></h5>
        <form action="/user" method="post" class="form-search">
          <label>Enter your name: </label>
          <input class="input-medium search-query" id=name type="text" placeholder="Name" name="name"> <br><br>
          <input id=submit type="submit" name= "form" value="Done" />
        </form>
      </div><br>
      <p class="text-info">{{text}}</p>
    </div>
  </body>
</html>
