<!doctype html>
<html>
  <head>
    <title>Db app</title>
  </head>
  <body>
      <div>
        <h1>Hello {{name}}</h1><br><br>
        <form action="/" method="post">
          <label>Enter your name: </label>
          <input class="input-medium search-query" id=name type="text" placeholder="Name" name="name"> <br><br>
          <input id=submit type="submit" name= "form" value="Done" />
        </form>
      </div><br>
  </body>
</html>
