<!DOCTYPE html>
<html>
  <head>
    <title>form</title>
    <link rel="stylesheet" href="css/bootstrap.css" />
  </head>
  <body>
    <h1>Give name</h1>
          <form action="/post" method="post">
            <div class="form-row">
              <div class="col">
                <input type="number" name="a" class="form-control" placeholder="1st number">
              </div>
              <div class="col">
                <input type="number" name="b" class="form-control" placeholder="2nd number">
              </div>
              <div class="row">
                <button type="submit" class="btn btn-success">Submit</button>
              </div>
            </div>
          </form>
    <script src="js/bootstrap.js"></script>
  </body>
</html>
