<!DOCTYPE html>
<html>
  <head>
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.css" />
  </head>
  <body>
    <h1>Hello {{name}} !!!</h1>
    <a href="/post">add</a>
    <script src="js/bootstrap.js"></script>
  </body>
</html>
