<!doctype html>
<html>
  <head>
    <title>Game app</title>
    <link rel="stylesheet" href="/public/css/bootstrap.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0/">
    <link rel='shortcut icon' href='favicon.ico' type='image/x-icon'/>
  </head>
  <body>
  <div class="container">
    <div class="jumbotron text-center" >
      <div>
        <h1>Cow Bull Game</h1><br><br>
        <h5><a href="/rules">Rules</a></h5>
        <form action="/" method="post" class="form-search">
          <label>Enter your name: </label>
          <input class="input-medium search-query" id=name type="text" placeholder="Name" name="name"> <br><br>
          <input id=submit type="submit" name= "form" value="Done" />
        </form>
        <!-- <button onclick="al()">r</button> -->
      </div><br>
      <p class="text-info">{{text}}</p>
    </div>
  </div>
  </body>
</html>
