<!doctype html>
<html>
  <head>
    <title>Game app</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="navbar navbar-expand-sm bg-dark sticky-top">
      <a class="navbar-brand" href="/">OKTA</a>
      <div class="navbar-collapse collapse justify-content-end" id="collapsibleNavbar">
      <ul class="nav nav-item justify-content-center">
        <li class="nav-item">
          <a class="nav-link text-white" href="/login">Login</a>
        </li>
      </ul>
      </div>
    </div>

    <div class="tab-content">
      <div class="tab-pane active" id="home">

      </div>
    </div>
    <!-- <div class="fixed-bottom bg-dark"> -->
    <div class="fixed-bottom bg-light">
      <p class="pt-1 mb-1 text-right text-monospace text-black-50">Developed by Gani</p>
    </div>

  </body>
</html>
